.price1{
    position: absolute;
    bottom: 1rem;
    left: 2.5rem;
}
.absolute{
    position: relative;
}
.search1{
    max-width: 40rem;
}
.divv {
    padding: 20px;
    margin: 3px;
}
a{
    color: black;
    text-decoration: none;
}