.thumbnail--4by3 {
    padding-top: 75%;
}



.img-responsive-wrap {
    position: relative;
    height: 0;
    padding-bottom: 120%;
}

.img-responsive-wrap .img-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    background-position: center center;
}

.img-responsive-wrap .img-inner img {
    display: none;
}