.minibody {
  width: 100vw;
  min-height: 90vh;
  margin-top: 4rem;
}
.sider {
  min-height: 70vh;
}
.linkTopNavBar{
  padding: 10px 15px;
}
.onTop{
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  border-radius: 50%;
  background-color: #b4aed1ee;
  color: #cdd6c3ee;
  border: none;
}


/* product detail */

.tourTitle {
  margin-bottom: 20px;
}
.tourTitle h1 {
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;
}
/* sell */
.dilo{
  max-height: 22rem;
  width: 100%;
}
