.minibody {
  width: 100vw;
  min-height: 90vh;
  margin-top: 4rem;
}
.sider {
  min-height: 70vh;
}
.linkTopNavBar{
  padding: 10px 15px;
}
.onTop{
  position: fixed;
  bottom: 3rem;
  right: 1rem;
  border-radius: 50%;
  background-color: #b4aed1ee;
  color: #cdd6c3ee;
  border: none;
}
