.divv {
    padding: 20px;
    margin: 3px;
}

.box2 {
    text-align: left;
    border: rgb(255, 255, 255) ridge 3px;
    border-radius: 10px;
    margin: 3px;
    padding: 30px;
}

.box-width-2 {
    width: 25rem;
}

.forgot-password,
.forgot-password a {
    text-align: right;
    font-size: 15px;
    padding-top: 10px;
    color: #7f7d7d;
    margin: 0;
}

.forgot-password a {
    color: #167bff;
}
.but2{
    margin-left: 2rem;
}